@charset "UTF-8";
/* Base */
.font-size-10 {
  font-size: 10px;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-19 {
  font-size: 19px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-21 {
  font-size: 21px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-23 {
  font-size: 23px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-25 {
  font-size: 25px;
}

.font-size-26 {
  font-size: 26px;
}

.font-size-27 {
  font-size: 27px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-29 {
  font-size: 29px;
}

.font-size-30 {
  font-size: 30px;
}

.font-gray-1 {
  color: #f7f7f7;
}

.font-gray-2 {
  color: #e9e9e9;
}

.font-gray-3 {
  color: #d9d9d9;
}

.font-gray-4 {
  color: #c9c9c9;
}

.font-gray-5 {
  color: #b8b8b8;
}

.font-gray-6 {
  color: #a8a8a8;
}

.font-gray-7, body {
  color: #939393;
}

.font-gray-8 {
  color: #7b7b7b;
}

.font-gray-9 {
  color: #636363 #4d4d4d;
}

.font-gray-10 {
  color: #353535;
}

.border-gray-1 {
  border-color: #f7f7f7;
}

.border-gray-2 {
  border-color: #e9e9e9;
}

.border-gray-3 {
  border-color: #d9d9d9;
}

.border-gray-4 {
  border-color: #c9c9c9;
}

.border-gray-5 {
  border-color: #b8b8b8;
}

.border-gray-6 {
  border-color: #a8a8a8;
}

.border-gray-7 {
  border-color: #939393;
}

.border-gray-8 {
  border-color: #7b7b7b;
}

.border-gray-9 {
  border-color: #636363 #4d4d4d;
}

.border-gray-10 {
  border-color: #353535;
}

.bg-gray-1 {
  border-color: #f7f7f7;
}

.bg-gray-2 {
  border-color: #e9e9e9;
}

.bg-gray-3 {
  border-color: #d9d9d9;
}

.bg-gray-4 {
  border-color: #c9c9c9;
}

.bg-gray-5 {
  border-color: #b8b8b8;
}

.bg-gray-6 {
  border-color: #a8a8a8;
}

.bg-gray-7 {
  border-color: #939393;
}

.bg-gray-8 {
  border-color: #7b7b7b;
}

.bg-gray-9 {
  border-color: #636363 #4d4d4d;
}

.bg-gray-10 {
  border-color: #353535;
}

.letter-spacing-1 {
  letter-spacing: 0.1em;
}

.letter-spacing-2 {
  letter-spacing: 0.2em;
}

.border-w-1 {
  border-width: 1px;
}

.border-w-2 {
  border-width: 2px;
}

.border-w-3 {
  border-width: 3px;
}

.border-w-4 {
  border-width: 4px;
}

.border-w-5 {
  border-width: 5px;
}

.primary-black--hover {
  background: #73069a;
  color: #fff;
}
.primary-black--hover:hover {
  background: #000;
  color: #fff;
}

.primary-dark--hover {
  background: #73069a;
  color: #fff;
}
.primary-dark--hover:hover {
  background: gray;
  color: #fff;
}

.primary-primary-outline--hover {
  background: #73069a;
  color: #fff;
}
.primary-primary-outline--hover:hover {
  border-color: #73069a;
  background: transparent;
}

.primary-outline-primary--hover {
  background: transparent;
  border-color: #73069a;
}
.primary-outline-primary--hover:hover {
  color: #fff;
  background: #73069a;
}

body {
  line-height: 1.7;
  font-weight: 400;
  font-size: 1rem;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: "Anton", sans-serif;
}

.border-2 {
  border-width: 2px;
}

.btn.btn-white-outline {
  border-color: #fff;
  background: transparent;
  color: #fff;
}
.btn.btn-white-outline:hover {
  color: #000;
  background: #fff;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background: #000 !important;
}

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5);
}

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5);
}

.site-wrap:before {
  display: none;
  transition: 0.3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}
.offcanvas-menu .site-wrap {
  height: 100%;
  width: 100%;
  z-index: 2;
}
.offcanvas-menu .site-wrap:before {
  opacity: 1;
  visibility: visible;
}

.line-height-1 {
  line-height: 1 !important;
}

.bg-black {
  background: #000;
}

.form-control {
  height: 55px;
  background: #fff !important;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.form-control:active, .form-control:focus {
  border-color: #73069a;
}
.form-control:hover, .form-control:active, .form-control:focus {
  box-shadow: none !important;
}

.site-section {
  padding: 2.5em 0;
}
@media (min-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}
.site-section.site-section-sm {
  padding: 4em 0;
}

.site-footer {
  padding: 1em 0;
  background: #333333;
}
@media (min-width: 768px) {
  .site-footer {
    padding: 1em 0;
  }
}
.site-footer .border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.site-footer p {
  color: #999999;
}
.site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
  color: #fff;
}
.site-footer a {
  color: #999999;
}
.site-footer a:hover {
  color: white;
}
.site-footer ul li {
  margin-bottom: 10px;
}
.site-footer .footer-heading {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.bg-text-line {
  display: inline;
  background: #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000;
}

.text-white-opacity-05 {
  color: rgba(255, 255, 255, 0.5);
}

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5);
}

.hover-bg-enlarge {
  overflow: hidden;
  position: relative;
}
@media (max-width: 991.98px) {
  .hover-bg-enlarge {
    height: auto !important;
  }
}
.hover-bg-enlarge > div {
  transform: scale(1);
  transition: 0.8s all ease-in-out;
}
.hover-bg-enlarge:hover > div, .hover-bg-enlarge:focus > div, .hover-bg-enlarge:active > div {
  transform: scale(1.2);
}
@media (max-width: 991.98px) {
  .hover-bg-enlarge .bg-image-md-height {
    height: 300px !important;
  }
}

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-image.overlay {
  position: relative;
}
.bg-image.overlay:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background: white;
}
.bg-image > .container {
  position: relative;
  z-index: 1;
}

.bg-image-grey {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-image-grey.overlay {
  position: relative;
}
.bg-image-grey.overlay:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background: rgba(51, 50, 51, 0.9);
}
.bg-image-grey > .container {
  position: relative;
  z-index: 1;
}

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%;
  }
}

@media (max-width: 991.98px) {
  .display-1, .display-3 {
    font-size: 3rem;
  }
}

.play-single-big {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff !important;
  border-radius: 50%;
  position: relative;
  transition: 0.3s all ease-in-out;
}
.play-single-big > span {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}
.play-single-big:hover {
  width: 120px;
  height: 120px;
}

.overlap-to-top {
  margin-top: -150px;
}

.ul-check {
  margin-bottom: 50px;
}
.ul-check li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  line-height: 1.5;
}
.ul-check li:before {
  left: 0;
  font-size: 20px;
  top: -0.3rem;
  font-family: "icomoon";
  content: "";
  position: absolute;
}
.ul-check.white li:before {
  color: #fff;
}
.ul-check.success li:before {
  color: #8bc34a;
}
.ul-check.primary li:before {
  color: #73069a;
}

.select-wrap, .wrap-icon {
  position: relative;
}
.select-wrap .icon, .wrap-icon .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
}
.select-wrap select, .wrap-icon select {
  appearance: none;
  width: 100%;
}

.top-bar {
  border-bottom: 1px solid #e9ecef !important;
}

.logo-contraloria {
  height: 60px !important;
}

#blog-section > a {
  color: #9e60b4 !important;
}

.top-bar {
  height: 60px;
  background-color: #73069a;
  padding-top: 1%;
  padding-bottom: 1%;
}

.top-bar a {
  color: white !important;
  text-decoration: none;
}
.top-bar a span {
  font-size: 1.5em;
}

.login-icon .icon-user {
  font-size: x-large;
  color: white;
}

.register-icon .icon-user-plus {
  font-size: x-large;
  color: white;
}

.register-icon {
  margin-left: 2%;
}

body a {
  color: #9e60b4 !important;
}

body button:not(.btnBootstrap) {
  background-color: #9e60b4 !important;
  border-color: #9e60b4 !important;
}

.stickyMenu {
  z-index: 99999;
  background-color: white;
  max-width: 120px;
  position: absolute;
  opacity: 0.5;
  left: 0;
}

.stickyMenu ul ul {
  display: none;
}

.stickyMenu:hover {
  opacity: 1 !important;
  border-style: solid;
  border-color: 141;
  border-width: medium;
}

.stickyMenu .mainMenu li:hover > .subMenu {
  display: block;
}

.stickyMenu ul {
  position: sticky;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Only stick if you can fit */
@media (min-height: 300px) {
  .stickyMenu ul {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
.stickyMenu ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}

.stickyMenu ul li a:hover {
  background: #73069a !important;
  color: #fff !important;
}

#fixed-button {
  position: fixed !important;
  margin-right: 1%;
  margin-bottom: 1%;
  right: 0 !important;
  bottom: 0 !important;
  background-color: grey !important;
  color: white !important;
}

.img-link {
  height: 50px;
  width: auto;
}

.footer-social-icon {
  font-size: 1.5em !important;
}

#aboutBody, #aboutBody {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.card-inner {
  margin-left: 4rem;
}

.comment {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.dropdown-menu {
  margin-left: -70px !important;
}

.dividerTop {
  border-left: 2px solid white;
  height: 80%;
  margin-left: 2%;
  margin-right: 2%;
}

/* Navbar */
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  width: 100%;
  padding: 1rem;
}
@media (max-width: 991.98px) {
  .site-navbar {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.site-navbar .toggle-button {
  position: absolute;
  right: 0px;
}
.site-navbar .site-logo {
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.2rem;
}
@media (max-width: 991.98px) {
  .site-navbar .site-logo {
    float: left;
    position: relative;
  }
}
.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid #f3f3f4 !important;
}
.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}
.site-navbar .site-navigation .site-menu .active {
  color: #73069a !important;
  display: inline-block;
}
.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}
.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}
.site-navbar .site-navigation .site-menu > li > a {
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px 0px;
  color: #000 !important;
  display: inline-block;
  text-decoration: none !important;
  border-bottom: 2px solid transparent;
  font-size: 1.5vw;
}
.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #73069a !important;
}
.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}
.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}
.site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "";
  font-size: 16px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-family: "icomoon";
}
.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #73069a;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #edf0f5;
  border-right: 1px solid #edf0f5;
  border-bottom: 1px solid #edf0f5;
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  transition: 0.2s 0s;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  transition: 0s all;
  color: #343a40;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color: #73069a !important;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  background: #f4f5f9;
  color: #25262a;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
  content: "";
  right: 20px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
  background: #f4f5f9;
  color: #25262a;
}
.site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #73069a;
}
.site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}
.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  transform: translateX(110%);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}
.offcanvas-menu .site-mobile-menu {
  transform: translateX(0%);
}
.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #25262a;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}
.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}
.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}
.site-mobile-menu .site-nav-wrap a:hover {
  color: #73069a;
}
.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}
.site-mobile-menu .site-nav-wrap li .nav-link.active {
  color: #73069a;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-180deg);
  transition: 0.3s all ease;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  transform: translate(-50%, -50%);
}
.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}
.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}
.site-mobile-menu .site-nav-wrap[data-class=social] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}
.site-mobile-menu .site-nav-wrap[data-class=social] > li {
  width: auto;
}
.site-mobile-menu .site-nav-wrap[data-class=social] > li:first-child a {
  padding-left: 15px !important;
}

.sticky-wrapper {
  position: relative;
  z-index: 100;
  width: 100%;
}
.sticky-wrapper .site-navbar {
  transition: 0.3s all ease;
}
.sticky-wrapper .site-navbar {
  background: #fff;
}
.sticky-wrapper .site-navbar .site-logo a {
  color: #fff;
}
.sticky-wrapper .site-navbar ul li a {
  color: rgba(0, 0, 0, 0.7) !important;
}
.sticky-wrapper .site-navbar ul li a.active {
  color: #fff !important;
}
.sticky-wrapper.is-sticky .site-navbar {
  background: #fff;
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}
.sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color: #73069a;
}
.sticky-wrapper.is-sticky .site-navbar ul li a {
  color: #000 !important;
}
.sticky-wrapper.is-sticky .site-navbar ul li a.active {
  color: #73069a !important;
}
.sticky-wrapper .shrink {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
@media (max-width: 991.98px) {
  .sticky-wrapper .shrink {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
}

/* Blocks */
.site-section-cover {
  position: relative;
  background-position: center center;
}
.site-section-cover, .site-section-cover .container {
  position: relative;
  z-index: 2;
}
.site-section-cover, .site-section-cover .container > .row {
  height: 100vh;
  min-height: 700px;
}
@media (max-width: 991.98px) {
  .site-section-cover, .site-section-cover .container > .row {
    height: 70vh;
    min-height: 400px;
  }
}
.site-section-cover.overlay {
  position: relative;
}
.site-section-cover.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(52, 58, 64, 0.3);
  z-index: 1;
}
.site-section-cover.inner-page, .site-section-cover.inner-page .container > .row {
  height: auto;
  min-height: auto;
  padding: 2em 0;
}
.site-section-cover.img-bg-section {
  background-size: cover;
  background-repeat: no-repeat;
}
.site-section-cover h1 {
  font-size: 3rem;
  color: #fff;
  line-height: 1;
}
@media (max-width: 991.98px) {
  .site-section-cover h1 {
    font-size: 2rem;
  }
}
.site-section-cover p {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
}
.site-section {
  padding: 4rem 0;
}
@media (max-width: 991.98px) {
  .site-section {
    padding: 3rem 0;
  }
}

.slide-one-item .owl-nav .owl-prev, .slide-one-item .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.4);
}
.slide-one-item .owl-nav .owl-prev:hover, .slide-one-item .owl-nav .owl-next:hover {
  color: #fff;
}
.slide-one-item .owl-nav .owl-prev {
  left: 20px;
}
.slide-one-item .owl-nav .owl-next {
  right: 20px;
}

.intro-engage > div {
  padding: 50px;
  position: relative;
}
.intro-engage > div h2 {
  color: #fff;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.intro-engage > div p {
  color: rgba(255, 255, 255, 0.5);
}
.intro-engage > div:before {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.intro-engage > div:nth-of-type(1) {
  background-color: #4e4e4e;
}
.intro-engage > div:nth-of-type(2) {
  background-color: #73069a;
}
.intro-engage > div:nth-of-type(3) {
  background-color: #a23131;
}
.intro-engage > div *:last-child {
  margin-bottom: 0;
}

.block-img-video-1-wrap .block-img-video-1 {
  position: relative;
  margin-top: -10rem;
}

.block-img-video-1 > a {
  display: block;
  position: relative;
  cursor: pointer;
}
.block-img-video-1 > a .icon {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}
.block-img-video-1 > a .icon > span {
  position: absolute;
  top: 50%;
  font-size: 0.8rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.block-counter-1 {
  text-align: center;
}
.block-counter-1 .number, .block-counter-1 .caption {
  display: block;
  line-height: 1;
}
.block-counter-1 .number {
  color: #73069a;
  font-size: 4rem;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-family: "Anton", sans-serif;
}
.block-counter-1 .number:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 3px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.3);
}
.block-counter-1.block-counter-1-sm {
  text-align: left;
}
.block-counter-1.block-counter-1-sm .number:after {
  left: 0;
  transform: translateX(0);
}

.block-social-1 > a {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
}
.block-social-1 > a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block-testimony-1 {
  padding: 20px;
}
.block-testimony-1 blockquote {
  background: #fff;
  padding: 30px;
  font-style: italic;
  font-size: 18px;
  color: #000;
  font-family: "Georgia", Times, serif;
}
.block-testimony-1 figure {
  position: relative;
  padding-top: 20px;
}
.block-testimony-1 figure:before {
  position: absolute;
  content: "";
  width: 50px;
  left: 50%;
  display: none;
  top: 0;
  transform: translateX(-50%);
  background: #73069a;
  height: 2px;
}
.block-testimony-1 figure img {
  max-width: 60px;
}
.block-testimony-1 h3 {
  font-size: 18px;
}

.block-team-member-1 {
  padding: 30px;
  border: 1px solid #e9ecef;
}
.block-team-member-1 figure img {
  width: 130px;
}

.section-title {
  font-size: 2rem !important;
  color: #73069a;
}
@media (max-width: 991.98px) {
  .section-title {
    font-size: 2rem !important;
  }
}

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff;
}
.sidebar-box *:last-child {
  margin-bottom: 0;
}
.sidebar-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.categories li, .sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
  list-style: none;
}
.categories li:last-child, .sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
.categories li a, .sidelink li a {
  display: block;
}
.categories li a span, .sidelink li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
}
.categories li.active a, .sidelink li.active a {
  color: #000;
  font-style: italic;
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;
}
.comment-list .children {
  padding: 50px 0 0 40px;
  margin: 0;
  float: left;
  width: 100%;
}
.comment-list li {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
}
.comment-list li .vcard {
  width: 80px;
  float: left;
}
.comment-list li .vcard img {
  width: 50px;
  border-radius: 50%;
}
.comment-list li .comment-body {
  float: right;
  width: calc(100% - 80px);
}
.comment-list li .comment-body h3 {
  font-size: 20px;
  color: #000;
}
.comment-list li .comment-body .meta {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #ccc;
}
.comment-list li .comment-body .reply {
  padding: 5px 10px;
  background: #e6e6e6;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
}
.comment-list li .comment-body .reply:hover {
  color: #000;
  background: #e3e3e3;
}

.search-form {
  background: #f7f7f7;
  padding: 10px;
}
.search-form .form-group {
  position: relative;
}
.search-form .form-group input {
  padding-right: 50px;
}
.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.post-meta {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.post-meta a {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/*# sourceMappingURL=style.css.map */
