$font-family-2: "Anton", sans-serif;

@for $i from 10 through 30 {
  .font-size-#{$i} {
  	font-size: #{$i}px;
	}
}
$graycolors: #f7f7f7, #e9e9e9, #d9d9d9, #c9c9c9, #b8b8b8, #a8a8a8, #939393, #7b7b7b, #636363
#4d4d4d, #353535;

@for $i from 1 through length($graycolors) {
	.font-gray-#{$i} {
		color: nth($graycolors, $i)
	}
}
@for $i from 1 through length($graycolors) {
	.border-gray-#{$i} {
		border-color: nth($graycolors, $i)
	}
}
@for $i from 1 through length($graycolors) {
	.bg-gray-#{$i} {
		border-color: nth($graycolors, $i)
	}
}

$letterspacings: 0.1em, 0.2em;
@for $i from 1 through length($letterspacings) {
  .letter-spacing-#{$i} {
  	letter-spacing: nth($letterspacings,$i);
	}
}

@for $i from 1 through 5 {
  .border-w-#{$i} {
  	border-width: #{$i}px ;
	}
}

.primary-black--hover {
	background: $primary;
	color: $white;
	&:hover {
		background: $black;
		color: $white;
	}
}
.primary-dark--hover {
	background: $primary;
	color: $white;
	&:hover {
		background: lighten($black, 50%);
		color: $white;
	}
}

.primary-primary-outline--hover {
	background: $primary;
	color: $white;
	&:hover {
		border-color: $primary;
		background: transparent;
	}
}
.primary-outline-primary--hover {
	background: transparent;
	border-color: $primary;
	&:hover {
		color: $white;
		background: $primary;
	}
}

body {
	line-height: 1.7;
	@extend .font-gray-7;
	font-weight: 400;
	font-size: $font-size-base;
}
::-moz-selection {
	background: $black;
	color: $white;
}
::selection {
	background: $black;
	color: $white;
}
a {
	transition: .3s all ease;
	&:hover {
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	font-family: $font-family-2;
}

.border-2 {
	border-width: 2px;
}

.btn {
	&.btn-white-outline {
		border-color: $white;
		background: transparent;
		color: $white;
		&:hover {
			color: $black;
			background: $white;
		}
	}
}
.text-black {
	color: $black!important;
}
.bg-black {
	background: $black!important;
}

.color-black-opacity-5 {
	color: rgba($black, .5);
}
.color-white-opacity-5 {
	color: rgba($white, .5);
}

.offcanvas-menu .site-wrap {
	// position: absolute;
	// overflow: hidden;
}

.site-wrap {
	&:before {
		display: none;
		transition: .3s all ease-in-out;
		background: rgba(0,0,0,.6);
		content: "";
		position: absolute;
		z-index: 2000;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		visibility: hidden;
	}
	.offcanvas-menu & {
		// position: absolute;
		height: 100%;
		width: 100%;
		z-index: 2;
		// overflow: hidden;

		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}


.line-height-1 {
	line-height: 1!important;
}
.bg-black {
	background: $black;
}
.form-control {
	height: 55px;
	// border-radius: 30px;
	background: $white!important;
	font-family: $font-family-sans-serif;
	&:active, &:focus {
		border-color: $primary;
	}
	&:hover, &:active, &:focus {
		box-shadow: none!important;
	}
}

.site-section {
	padding: 2.5em 0;
	@include media-breakpoint-up(md) {
		padding: 5em 0;
	}

	&.site-section-sm {
		padding: 4em 0;
	}
}


.site-footer {
	padding: 1em 0;
	background: lighten($black, 20%);
	@include media-breakpoint-up(md) {
		padding: 1em 0;
	}
	.border-top {
		border-top: 1px solid rgba(255,255,255,.1)!important;
	}
	p {
		color: lighten($black, 60%);
	}
	h2,h3,h4,h5 {
		color: $white;
	}
	a {
		color: lighten($black, 60%);
		&:hover {
			color: lighten($black, 100%);
		}
	}
	ul {
		li {
			margin-bottom: 10px;
		}
	}
	.footer-heading {
		font-size: 16px;
		color: $white;
		text-transform: uppercase;
		letter-spacing: .2rem;
	}
}

.bg-text-line {
  display: inline;
  background: $black;
  box-shadow: 20px 0 0 $black, -20px 0 0 $black;
}

.text-white-opacity-05 {
	color: rgba($white, .5);
}
.text-black-opacity-05 {
	color: rgba($black, .5);
}

.hover-bg-enlarge {
	overflow: hidden;
	position: relative;
	@include media-breakpoint-down(md) {
		height: auto!important;
	}
	> div {
		transform: scale(1.0);
		transition: .8s all ease-in-out;
	}
	&:hover, &:focus, &:active {
		> div {
			transform: scale(1.2);
		}
	}

	.bg-image-md-height {
		@include media-breakpoint-down(md) {
			height: 300px!important;
		}
	}

}



.bg-image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	&.overlay {
		position: relative;
		&:after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			width: 100%;
			background: rgba(#ffff,1);
		}
	}
	> .container {
		position: relative;
		z-index: 1;
	}
}

.bg-image-grey {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	&.overlay {
		position: relative;
		&:after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			width: 100%;
			background: rgba(#333233,0.9);
		}
	}
	> .container {
		position: relative;
		z-index: 1;
	}
}

.img-md-fluid {
	@include media-breakpoint-down(md) {
		max-width: 100%;
	}
}

.display-1, .display-3 {
	@include media-breakpoint-down(md) {
		font-size: 3rem;
	}
}

.play-single-big {
	width: 90px;
	height: 90px;
	display: inline-block;
	border: 2px solid $white;
	color: $white!important;
	border-radius: 50%;
	position: relative;
	transition: .3s all ease-in-out;
	> span {
		font-size: 50px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-40%, -50%);
	}
	&:hover {
		width: 120px;
		height: 120px;
	}
}

.overlap-to-top {
	margin-top: -150px;
}

.ul-check {
	margin-bottom: 50px;
	li {
		position: relative;
		padding-left: 35px;
		margin-bottom: 15px;
		line-height: 1.5;
		&:before {
			left: 0;
			font-size: 20px;
			top: -.3rem;
			font-family: "icomoon";
			content: "\e5ca";
			position: absolute;
		}
	}
	&.white {
		li {
			&:before {
				color: $white;
			}
		}
	}
	&.success {
		li {
			&:before {
				color: $success;
			}
		}
	}
	&.primary {
		li {
			&:before {
				color: $primary;
			}
		}
	}
}

.select-wrap, .wrap-icon {
	position: relative;
	.icon {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 22px;
	}
	select {
		appearance: none;
		width: 100%;
	}
}

.top-bar {
	border-bottom: 1px solid $gray-200!important;
}

.logo-contraloria{
  height: 60px !important;
}

#blog-section > a{
  color: #9e60b4 !important;
}

.top-bar{
  height: 60px;
  background-color: $primary;
  padding-top: 1%;
  padding-bottom: 1%;
}

.top-bar a{
  color: white !important;
  text-decoration: none;
  span{
      font-size: 1.5em;
  }
}

.login-icon .icon-user{
   font-size: x-large;
   color: white;
}

.register-icon .icon-user-plus{
   font-size: x-large;
   color: white;
}

.register-icon{
  margin-left: 2%;
}

body a{
  color: #9e60b4 !important;
}

body button:not(.btnBootstrap){
  background-color: #9e60b4 !important;
  border-color: #9e60b4 !important;
}

.stickyMenu {
  z-index: 99999;
  background-color: white;
  max-width: 120px;
  position: absolute;
  opacity: 0.5;
  left: 0;
}

.stickyMenu ul ul{
  display: none;
}

.stickyMenu:hover{
	opacity: 1 !important;
	border-style: solid;
	border-color: blue($color: #0a008d);
	border-width: medium;
}

.stickyMenu .mainMenu li:hover > .subMenu{
  display: block;
}

.stickyMenu ul {
  position: sticky;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Only stick if you can fit */
@media (min-height: 300px) {
  .stickyMenu ul {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
.stickyMenu ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}

.stickyMenu ul li a:hover {
  background: $primary !important;
  color: $white !important;
}

#fixed-button{
	position: fixed !important;
	margin-right: 1%;
	margin-bottom: 1%;
	right: 0 !important;
	bottom: 0 !important;
	background-color: grey !important;
	color: white !important;
}

.img-link{
	height: 50px;
	width: auto;
}

.footer-social-icon{
  font-size: 1.5em !important;
}

#aboutBody, #aboutBody{
  font-family: $font-family-sans-serif !important;
}

.card-inner{
    margin-left: 4rem;
}

.comment {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.dropdown-menu {
  margin-left: -70px !important;
}

.dividerTop {
  border-left: 2px solid white;
  height: 80%;
  margin-left: 2%;
  margin-right: 2%;
}
